<section class="container container--md container--lg section section--secondary grid contact">
    <h3 class="contact__heading">Contact</h3>
    <div class="grid contact__content">
        <div class="contact__callout locate">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z" class="svg"></path><path d="M11.42 21.814a.998.998 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.005.021 4.438-4.388 8.423-6 9.73-1.611-1.308-6.021-5.294-6-9.735 0-3.309 2.691-6 6-6z"  class="svg"></path></svg>
            </i>
            <h4>Our Address</h4>
            <p>Elzazi complex, Opposite Westharm petrol station along gbalajam/Akpajo road, woji ( Odili Road, Port-Harcourt )</p>
        </div><!-- 1 -->

        <div class="contact__callout mail">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m21.555 8.168-9-6a1 1 0 0 0-1.109 0l-9 6A1 1 0 0 0 2 9v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V9c0-.334-.167-.646-.445-.832zM12 4.202 19.197 9 12 13.798 4.803 9 12 4.202zM4 20v-9.131l7.445 4.963a1 1 0 0 0 1.11 0L20 10.869 19.997 20H4z" class="svg"></path></svg>
            </i>
            <h4>Email Us</h4>
            <p class="contact__callout-mail">
                <a href="mailto:hello@harvoxx.com">Hello@harvoxx.com</a><br>
                <a href="mailto:help@harvoxx.com">Help@harvoxx.com</a><br>
                <a href="mailto:admin@harvoxx.com">Admin@harvoxx.com</a><br>
            </p>
        </div><!-- 2 -->

        <div class="contact__callout call">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z" class="svg"></path><path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"  class="svg"></path></svg>
            </i>
            <h4>Call Us</h4>
            <p class="contact__callout-call">
                <a href="tel:+2349011684637">+2349011684637</a><br>
                <a href="tel:+2349065308024">+2349065308024</a><br>
                <a href="tel:+2349030643105">+2349030643105</a><br>
            </p>
        </div><!-- 3 -->

        <div class="contact__callout form">
            <form action="">
                <input type="text" name="name" placeholder="Your Name" class="input input--lg">
                <input type="email" name="email" placeholder="Your Email" class="input input--lg">
                <input type="text" name="subject" placeholder="Subject" class="input input--lg">
                <textarea name="message" cols="30" rows="10" placeholder="message" class="input input--lg">
                    Message
                </textarea>
                <button class="btn btn--primary">send</button>
            </form>
        </div><!-- 4 -->
    </div>
</section>