<section class="container container--md container--lg section section--main  footer">
    <div class="footer__content">
        <h2 class="footer__heading">Harvoxx Tech. Hub.</h2>
        <p class="footer__text">Get latest latest info's on our Events, trainings and tech presentations. subscribe below</p>
        <div class="input--group">
            <input type="text" class="input" placeholder="Enter your Email">
            <button href="#" class="btn btn--round btn--primary">subscribe</button>
        </div>
    </div>
    
    <div class="footer__copyright">
        <p class="footer__copyright-text">&copy; Copyright <strong>Harvoxx tech. hub.</strong> All Rights Reserved</p>
        <a href="#" class="back-to-top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z" class="svg"></path></svg></a>
    </div>
</section>