<section class="container container--md container--lg section--main section grid grid--1x2 hero">
    <div class="hero__header">
        <h1 class="hero__heading">A whole awesome experience with Harvoxx Tech. Hub.</h1>
        <p class="hero__dec">Right here is an organized hub of seasoned and aspiring techpreneurs, developers, graphics designers and innovators with strong passion for technology and entrepreneurship.</p>
        <p class="hero__dec">It is a great platform for people to grow, develop amazing programming and business development skills.</p>
        <p class="hero__dec">It is a community that has a fast growing alliances with Angel investors, VCs, NGOs and other tech communities.</p>
        <a href="#" class="btn btn--primary btn--round">Get started</a>
    </div>
    <img src="images/harvoxxlogo.png" alt="" class="hero__logo">
</section>