<nav id="Nav" class="nav">
    <h1 class="nav__brand"><a href="/" class="link">harvoxx <span class="nav__hub">tech hub</span></a></h1>
    <i>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"  class="nav__toggler"></path></svg>
    </i>
    <ul class="list nav__list">
        <li class="nav__item"><a href="" class="link">Home</a></li>
        <li class="nav__item"><a href="" class="link">About Us</a></li>
        <li class="nav__item"><a href="" class="link">Services</a></li>
        <li class="nav__item"><a href="" class="link">Contact Us</a></li>
        <a href="" class="link btn btn--round btn--secondary">Get Started</a>
    </ul>
</nav>