<section class="container container--md container--lg section section--secondary grid service">
    <div class="service__des">
     <h2 class="service__heading">Our Services</h2><!-- 32px  -->
     <p class="service__text">Our structure is designed to provide the following services professionally and efficiently. Our team (of programmers, Business developers, strategists, marketers, Angel investors, entrepreneurs, graphic designers) puts in their very beat to ensure that our services delivery is top-notch</p>
    </div>
    <div class=" grid grid--1x2 section--secondary service__cards">
     <article class="card">
         <div class="card__img-container">
             <img src="images/harvoxx1.jpeg" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 1st -->

     <article class="card">
         <div class="card__img-container">
             <img src="images/harvoxx2.jpg" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 2nd -->

     <article class="card">
         <div class="card__img-container">
             <img src="images/service3.jpg" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 3rd -->

     <article class="card">
         <div class="card__img-container">
             <img src="images/harvoxx3.jfif" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 4th -->

     <article class="card">
         <div class="card__img-container">
             <img src="images/harvoxx5.jpg" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 5th -->

     <article class="card">
         <div class="card__img-container">
             <img src="images/harvoxx6.jpg" alt=""  class="card__img">
         </div>
         <div class="card__body">
         <h2 class="card__heading">Website and mobile App Design & Development</h2>
         <p class="card__text"><span class="card__spec">Build With Harvoxx</span> designs & Develops websites for interested clients(individuals, firms, companies, NGOs, government agencies etc) at an affordable rate.</p>
         <a href="#" class="link card__link"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" class="svg"></path></svg> Read more</a>
         </div>
     </article><!-- 6th -->
    </div>
 </section>